<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="panda, design, design inspiration, ux, ui, news, inspiration, designer news, layervault, dribbble, sidebar, daily, chrome extension, chrome">
    <meta name="description" content="Daily news and inspiration for designers, developers and entrepreneurs.">
    <meta property="og:title" content="Panda" />
    <meta property="og:url" content="https://usepanda.com/app/" />
    <meta property="og:image" content="http://usepanda.com/img/panda-face.png" />

    <meta property="pnd:app_id" content="panda5" />

    <title>Panda</title>

    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link id="favicon" rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-ipad3.png" />

    <link type="text/css" rel="stylesheet" href="app.css" />
</head>

<body ng-controller="AppController" ng-class="classes">

    <div growl></div>

    <div ng-view class="wrapper js-main-view animated fadeIn"></div>
    <div class="pnd-launcher launcher-view-container js-launcher-view-container"></div>
    <onboarding ng-if="onboarding" ng-hide="onboardingHidden" ng-cloak></onboarding>
    <tutorial ng-if="tutorial"></tutorial>

    <script type="text/javascript" src="modules/loader/index.js"></script>



</body>

</html>
